div#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background-image: url("/static/img/your-name.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.centered-box {
  display: inline-block;
  padding: 2rem !important;
  background-color: rgba(0, 0, 0, 0.8);
}